/* Reset CSS */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* chỉnh font */
html
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Chia bố cục */
.container
{
    display: flex;
    flex-direction: column;
}
.header
{
    background-color: black;
    color: white;
    height: 46px;
    display: flex;
    justify-content: space-between;
    /* Cho header dính lên trên bên trái và bên phải khi cuộn sẽ không mất*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
/* Cho các mục trong menu lên 1 hàng */
.header .nav
{
    z-index: 5;
}
.header .nav li
{
    display: inline-block;
    position: relative;
}
.header .nav li a
{
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}
/* Đổi màu background khi hover vào thẻ tương ứng */
.header .nav .sub-nav li:hover a,
.header > .nav > li:hover > a
{
    background-color: gray;
    display: block;
}
/* hiện menu dropper khi hover vào thẻ li More */
.header .nav li:hover .sub-nav
{
    display: block;
}
/* ẩn menu dropper ở chế độ bình thường */
.header .nav .sub-nav
{
    display: none;
    z-index: 2;
}
.header .nav ul
{
    display: block;
}
/* chỉnh vị trí và màu sắc cho các menu dropper con */
.header .nav ul.sub-nav
{
    position: absolute;
}
.header .nav ul.sub-nav a
{
    color: black;
    background-color: white;
    width: 200px;
}
.container .slider img
{
    width: 100%;
}
.search-button
{
    width: 60px;
}
.search-button:hover
{
    background-color: red;
    cursor: pointer;
}
.search-button ion-icon
{
    font-size: 125%;
    margin: 21%;
    margin-left: 30%;
}
.slider .image
{
    margin-top: 46px;
    position: relative;
    z-index: -1;
    /* padding-top: 50%; */
}
.slider .text
{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 200%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
/* CSS content */
.band
{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.band h2, .location h2, .contact h2
{
    font-size: 200%;
    letter-spacing: 5px;
    font-weight: 600;
    margin-bottom: 40px;
}
.band a
{
    background-color: gray;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.band a:hover
{
    background-color: red;
}
.band > p
{
    text-align: justify;
    margin-bottom: 25px;
}
.band .student
{
    display: flex;
    justify-content: space-around;
}
.band .student h4
{
    font-size: 125%;
    font-weight: 500;
    margin-bottom: 25px;
}
.student .info-student img
{
    width: 250px;
    height: 400px;
}
.student .info-student img:hover
{
    cursor: pointer;
    filter: brightness(0.8);
}
/* End Css Student - begin Css location */
.location
{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.location > h2
{
    margin-bottom: 20px;
}
.location >p
{
    font-style: italic;
    color: gray;
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 10px;
}
.location .status
{
    width: 68%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: gray;
    margin-bottom: 20px;
}
.location .status .status-info
{
    display: flex;
    justify-content: space-between;
    margin:4px 25px;
}
.location-school
{
    width: 70%;
    display: flex;
    margin: auto;
}
.location-school .thumbnail
{
    width: 30%;
    margin: auto;
    background-color: white;
    color: black;
    text-align: left;
}
.location-school .thumbnail .background
{
    width: 100%;
    aspect-ratio:4/3;
    object-fit: cover;
    margin-bottom: 20px;
    filter: grayscale(30%);
}
.location-school .thumbnail .background:hover
{
    filter: grayscale(0);
    cursor: pointer;
}
.thumbnail h4
{
    margin-left: 3%;
    margin-bottom: 10px;
}
.thumbnail p
{
    margin-left: 3%;
    margin-bottom: 10px;
}
.location-school .thumbnail button
{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 15px;
    margin-left: 150px;
    color: white;
    background-color: black;
    border-radius: 16px;
    font-size: 125%;
}
.location-school .thumbnail button:hover
{
    cursor: pointer;
    background-color: gray;
}
.thumbnail h4.date-time
{
    color: gray;
    font-weight: 400;
    font-style: italic;
}
/* End Css Location - begin Css Contact */
.contact
{
    text-align: center;
    
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
}
.contact h2
{
    margin-bottom: 50px;
    margin-top: 80px;
}
.contact p
{
    font-style: italic;
    margin-bottom: 60px;
}
.contact .info
{
    width: 60%;
    display: flex;
    margin: auto;
}
.contact .info .info-school
{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 50px;
}
.contact .info .info-school .info-line
{
    display: flex;
    margin: 10px 0;
    display: block;
    text-align: left;
}
.contact .info .info-school .info-line a
{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.contact .your-info
{
    display: flex;
    flex-direction: column;
}
.contact .your-info input
{
    padding: 2px 0;
    margin-bottom: 6px;
    margin-top: 8px;
}
.contact .your-info button
{
    width: 30%;
    padding: 3px 6px;
    color: white;
    background-color: black;
    margin-left: 120px;
    margin-right: 0;
    font-size: 100%;
}

/* images footer */
.img-footer img
{
    margin-bottom: 50px;
    width: 100%;
}

/* Css Footer */
.footer
{
    text-align: center;
    border-top: 1px solid gray;
}
.footer > p
{
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer .footer-info
{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer .footer-info p
{
    margin-right: 10px;
}
.footer a
{
    color: blue;
    text-decoration: none;
}
.footer .footer-info .icon
{
    margin-right: 5px;
}

/* Css modal */
.modal
{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: none;   
}
.modal .modal-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.modal .modal-form
{
    background: white;
    width: 70%;
    min-height: 500px;
}
.modal-form .header-form
{
    background-color: #009688;
    height: 150px;
    color: white;
    position: relative;
}
.modal-form .header-form .close-modal
{
    display: block;
    font-size: 150%;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.modal-form .header-form .close-modal:hover
{
    cursor: pointer;
    background-color: red;
}
.header-form .header-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 30px;
}
.header-form .header-title h4
{
    font-weight: 500;
}
.header-form .header-title >ion-icon
{
    margin-right: 10px;
    display: inline;
}


.modal-form .body-form
{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.modal-form .body-form .row
{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

input,select
{
    width: 100%;
    height: 35px;
    border-radius: 12px;
    font-size: 15px;
}
button
{
    width: 50%;
    margin: 10px 25%;
    padding: 10px;
    background-color: #009688;
    color: white;
    font-size: 125%;
}
button:hover
{
    cursor: pointer;
    background-color: aquamarine;
}